$mobile-breakpoint: 320px;
//I will modify this value to 768px next project
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;

$primary-bandsite-black: #323232;
$primary-silver: #afafaf;
$primary-white: #ffffff;
$secondary-bandsite-darkblack: #000000;
$secondary-mercury: #e1e1e1;
$secondary-alabaster: #fafafa;
$secondary-red: red;

$font-light: 100;
$font-normal: normal;
$font-bold: 700;
