*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next", Prompt, sans-serif;
  margin-left: 0;
  margin-right: 0;
}

.nav {
  background-color: #323232;
}
@media (min-width: 320px) and (max-width: 767px) {
  .nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 767px) and (max-width: 1280px) {
  .nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 1.5rem;
  }
}
@media (min-width: 767px) {
  .nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 3rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .nav__h2-title {
    margin: 0.5rem;
  }
}
.nav__logo {
  width: 7.5rem;
  height: 1.25rem;
}
.nav__title {
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
  font-size: 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .nav__title {
    font-size: 1.3rem;
    font-weight: 100;
  }
}
.nav__list {
  color: white;
  margin: 2.5rem;
  list-style-type: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
    margin: 0;
    padding-bottom: 0.8rem;
    gap: 6rem;
    padding-left: 0;
  }
}
@media (min-width: 767px) and (max-width: 1280px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4.5rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 767px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4.5rem;
    list-style-type: none;
    font-size: 1.2rem;
  }
}

.hero__card {
  background-image: url(../assets/images/hero-bio.jpg);
  margin-top: 0rem;
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero__card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 11.3rem;
  }
}
.hero__card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 1;
}
.hero__title {
  color: white;
  font-weight: 100;
  line-height: 2rem;
  z-index: 2;
  margin-left: 1rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .card__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}
.card__title {
  opacity: 75%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .card__title {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .card__img {
    width: 90%;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0;
    margin-bottom: 0;
  }
  .card__img img {
    width: 100%;
    height: 10rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .card__saying {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 0.85rem;
    font-weight: 600;
    opacity: 80%;
    line-height: 1.38rem;
    margin-bottom: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .card__name {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 0.85rem;
    font-weight: 600;
    opacity: 80%;
    line-height: 1.38rem;
    margin-top: 0.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .card__subtitle {
    font-size: 0.85rem;
    line-height: 1.38rem;
    font-weight: 600;
    opacity: 80%;
    margin-left: 1rem;
    padding-left: 0;
    margin-top: 0.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .card__content--part {
    font-size: 0.82rem;
    line-height: 1.125rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0rem;
    font-weight: 400;
    padding-right: 0.85rem;
    opacity: 80%;
  }
}

.quote__italic {
  font-style: italic;
}

.album {
  background-color: #e1e1e1;
}
.album__title {
  opacity: 75%;
  margin-left: 1rem;
  margin-bottom: 0;
  margin-top: 1.5rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .album__title {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .album__container {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .album__item {
    width: 90%;
    height: auto;
    margin: 1rem 1rem 0 1rem;
    padding: 0;
  }
  .album__item img {
    width: 100%;
    height: 10rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=bio.css.map */