//@use "./base/global.scss" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;
.nav {
  background-color: $primary-bandsite-black;
  padding-bottom: 0;
  @include mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0.5rem;
    margin-top: 0;
  }
  @include tablet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    gap: 2rem;
    margin-top: -0.4rem;
    margin-bottom: -0.4rem;
    // padding-top: 0.5rem;
    // padding-bottom: 0.5rem;
  }
  @include desktop {
    padding-left: 3rem;
    font-size: 1.5rem;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
  }

  &__container {
    @include mobile {
      margin: 0.5rem;
      width: 100%;
    }
    @include tablet {
      margin: 0.5rem;
      // width: 100%;
    }
  }

  &__logo {
    @include mobile {
      width: 7.5rem;
      height: 1.25rem;
    }
    @include tablet {
      width: 8.5rem;
      height: auto;
    }
    @include desktop {
      width: 12rem;
      height: auto;
    }
  }
  &__title {
    text-decoration: none;
    display: flex;
    color: $primary-white;
    // font-weight: 100;
    // font-size: 2rem;
    @include mobile {
      justify-content: center;
      font-size: 1.3rem;
      font-weight: 100;
    }
    @include tablet {
      justify-content: flex-start;
      font-size: 5.3rem;
      font-weight: 100;
      padding-left: 2.5rem;
    }
    @include desktop {
      justify-content: flex-start;
      font-size: 5.3rem;
      font-weight: 100;
      padding-left: 8rem;
    }
  }

  &__list {
    color: $primary-white;
    list-style-type: none;
    @include mobile {
      margin-top: 2.5rem;
      width: 100%;
      padding: 0;
      margin: 0;
      //make the nav_list take up the whole nav width
      //to add wide underline when hover
      display: grid;
      flex-direction: row;
      //create two columns with same width
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-around;
    }
    @include tablet {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 3.5rem;
      display: flex;
      flex-direction: row;
      padding-left: 3rem;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 2rem;
      padding-bottom: 0.5rem;
    }
    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3rem;
      list-style-type: none;
      font-size: 1.2rem;
      padding-left: 1.5rem;
    }
  }
  &__item {
    @include mobile {
      position: relative;
      text-align: center;
      padding: 0.5rem;
      font-size: 0.8rem;
      font-weight: 100;
      &:hover {
        font-weight: 400;
      }
      &::after {
        content: "";
        position: absolute;
        left: 50%; //left side and half width
        //modify the center of pseudo
        transform: translateX(-50%);
        bottom: -2px;
        width: 100%;
        height: 5px;
        background: transparent;
        transition: background-color 0.3s;
      }
      &:hover::after {
        background-color: $primary-white;
      }
    }

    @include tablet {
      border-bottom: 2px solid transparent;
      padding: 0.5rem;
      color: $secondary-mercury;
      font-size: 1.2rem;
      font-weight: 100;
      padding-bottom: 2rem;
      transition: color 0.3s, border-bottom-color 0.3s;
      &.active,
      &:hover {
        color: $primary-white;
        font-weight: 400;
        border-bottom-color: $primary-white;
      }
      @include desktop {
        font-size: 1.4rem;
      }
      &:hover::after {
        background-color: $primary-white;
      }
    }
    @include tablet {
      padding: 1.5rem;

      padding-bottom: 3.7rem;
      margin-bottom: -1.7rem;
    }
  }
}
.hero {
  &__card {
    background-image: url(../assets/images/hero-bio.jpg);
    margin-top: 0rem;
    display: flex;
    align-items: center;
    //add a non-static position,
    //Pseudo-element relative to positioned non-static ancestor
    position: relative;
    @include mobile {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      //Maintain the aspect ratio of the hero image regardless of the resolution
      padding-top: 58%;
      width: 100%;
    }
    @include tablet {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      // height: 32.5rem;
      padding-top: 58%;
    }
    @include desktop {
      padding-top: 50%;
    }
  }
  &__card::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //Black mask with 50% opacity
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 1;
  }

  &__title {
    @include mobile {
      color: $primary-white;
      font-weight: 400;
      line-height: 2rem;
      position: absolute;
      top: 32%;
      //Keeps the text on top of the black mask
      z-index: 2;
      margin-left: 1rem;
    }
    @include tablet {
      color: $primary-white;
      position: absolute;
      top: 38%;
      transform: translateY(-50%);
      font-weight: 100;
      font-size: 3.75rem;
      line-height: 2rem;
      //Keeps the text on top of the black mask
      z-index: 2;
      margin-left: 1rem;
    }
    @include desktop {
      // top: 42%;
      // font-size: 4.75rem;
    }
  }
}

.card {
  &__container {
    @include mobile {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }
  }
  &__title {
    opacity: 75%;
    margin-left: 1rem;

    @include mobile {
      margin-bottom: 0rem;
      padding-bottom: 1rem;
      padding-top: 1.5rem;
      margin-top: 0;
      font-size: 1.5rem;
      font-weight: 400;
    }
    @include tablet {
      margin-bottom: 0rem;
      padding-bottom: 2.25rem;
      padding-top: 3rem;
      margin-top: 0;
      font-size: 2rem;
      font-weight: 400;
    }
    /////tablet & desktop可能一致
    @include desktop {
      margin-bottom: 0rem;
      padding-bottom: 2.25rem;
      padding-top: 3rem;
      margin-top: 0;
      font-size: 2.5rem;
      font-weight: 700;
    }
  }
  &__img {
    @include mobile {
      width: 90%;
      margin: 0 auto;
      padding: 0;
      // width: calc(90%); // 设置宽度为100%
      // margin: 0 auto;
      // margin-bottom: -2.5rem;
      // padding: 0;
      // height: 10.2rem; // 设置最大高度为10.2rem
      // img {
      //   width: 100%;
      //   height: 80%;
      //   // max-width: 100%; // 确保宽度不超过父容器
      //   object-fit: cover;
      //   // max-height: 100%;
      // }
      // @media (min-width: 321px) {
      //   height: calc(
      //     10.2rem + (100vw - 320px) * 0.1
      //   ); // 随着分辨率的变化逐渐增加高度
      // }
      width:90%;
      min-height:10.2rem;
      img {
        width: 100%;
        height: calc(
          10.2rem + (100vw - 320px) * 0.1
        ); 

        //height: 100%;
        //height: auto;
        // max-height: 100%;
        // object-fit: contain;
        //object-fit works for <img>
        object-fit: cover;
      }
      @media (min-width: 321px) {
          height: calc(
            10.2rem + (100vw - 320px) * 0.1
          ); // 随着
    }
    @media (min-width: 321px) {
      max-height: none; // 移除最大高度限制
    }
    @include tablet {
      width: 75%;
      height: auto;
      // margin-left: 6.7rem;
      // margin-right: 6.7rem;
      margin: 0 auto;
      padding: 0;
      margin-bottom: 0;
      img {
        width: 100%;
        height: 22.2rem;
        object-fit: cover;
      }
    }
    @include desktop {
      width: 65%;
      img {
        width: 100%;
        height: 28.2rem;
        object-fit: cover;
      }
    }
  }

  &__saying {
    @include mobile {
      @include card__saying--style;
      margin-bottom: 0;
      opacity: 75%;
    }
    @include tablet {
      margin-left: 6.7rem;
      margin-right: 6.7rem;
      margin-top: 2.25rem;
      font-size: 1.6rem;
      font-weight: normal;
      opacity: 80%;
      line-height: 2.2rem;
      margin-bottom: 0;
      padding-right: 0;
    }
    @include desktop {
      margin-left: 14rem;
      margin-right: 18rem;
    }
  }

  &__name {
    @include mobile {
      @include card__saying--style;
      margin-top: 0.5rem;
    }
    @include tablet {
      margin-left: 6.7rem;
      margin-right: 6.7rem;
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      opacity: 80%;
      line-height: 2.2rem;
      margin-bottom: 0;
      padding-right: 0;
      margin-top: 0.5rem;
    }
    @include desktop {
      margin-left: 14rem;
      margin-right: 18rem;
    }
  }

  &__subtitle {
    @include mobile {
      font-size: 0.85rem;
      line-height: 1.38rem;
      font-weight: normal;
      opacity: 400;
      margin-left: 1rem;
      padding-left: 0;
      margin-top: 0.5rem;
    }
    @include tablet {
      font-size: 1.7rem;
      line-height: 1.38rem;
      font-weight: 600;
      margin-left: 6.7rem;
      padding-left: 0;
      padding-top: 1.8rem;
      padding-bottom: 0.8rem;
    }
    @include desktop {
      margin-left: 14rem;
    }
  }
  &__content {
    &--container {
      @include tablet {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 6.7rem;
        padding-right: 6.7rem;
        gap: 2rem;
      }
      @include desktop {
        margin-left: 14rem;
        margin-right: 14rem;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &__content--part {
    @include mobile {
      font-size: 0.8rem;
      line-height: 1.2rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 0rem;
      font-weight: 100;
      padding-right: 0.8rem;
      opacity: 100%;
    }
    @include tablet {
      font-size: 0.81rem;
      line-height: 1.6rem;
      margin-top: 0rem;
      font-weight: 400;
      opacity: 80%;
    }
    @include desktop {
      padding-left: 1rem;
    }
  }
}
.quote__italic {
  font-style: italic;
}
.album {
  background-color: $secondary-mercury;
  width: 100%;
  &__title {
    opacity: 75%;
    @include mobile {
      margin-left: 1rem;
      margin-bottom: 0;
      margin-top: 0.5rem;
      padding-top: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
    }
    @include tablet {
      font-size: 2rem;
      font-weight: 700;
      padding-top: 3.5rem;
      margin-top: 1.2rem;
      padding-left: 2.74rem;
    }
  }
  &__container {
    @include mobile {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
     // width: calc(88%);
      padding-left: 2rem;
    }
    @include tablet {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
      display: flex;
      justify-content: center;
      margin: 0 -0.74rem;
      flex-wrap: wrap;
      // flex-direction: column;
      // justify-content: space-around;
      // align-items: flex-start;
      width: 100%;
      padding-left: 2rem;
      //padding-right: 1.8rem;
      padding-bottom: 1rem;
      margin-bottom: 0;
      margin-right: 0;
    }
    @include desktop {
      // padding-left: 8.2rem;
    }
  }
  &__item {
    @include mobile {
      width: 90%;
     // width: calc(88%);
      height: auto;
      margin: 1rem auto 0 auto;
      padding: 0;
      img {
        width: 100%;
        height: 10rem;
        //object-fit works for <img>
        object-fit: cover;
      }
    }
    @include tablet {
      width: calc(33.33% - 1.48rem);
      height: auto;
      margin: 0rem 0.74rem 1rem 0.74rem;
      padding: 0;
      img {
        // width: 15%;
        height: 10rem;
        //object-fit works for <img>
        object-fit: cover;
      }
    }
    @include desktop {
      //The width of the item is 28% of the width of its parent element
      //and is adjusted by subtracting 1.48rem from this width
      width: calc(28% - 1.48rem);
      height: auto;
      margin: 0rem 0.74rem 1rem 0.74rem;
      padding: 0;
      img {
        // width: 15%;
        height: 10rem;
        //object-fit works for <img>
        object-fit: cover;
      }
    }
  }
}

.footer {
  font-family: "Prompt", sans-serif;
  background-color: $primary-bandsite-black;
  color: $primary-white;
  @include mobile {
    margin-top: 0.8rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
  @include tablet {
    padding-left: 2rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
  &__container {
    margin-bottom: 0;
    padding-bottom: 0;
    @include mobile {
      margin-bottom: -1rem;
    }
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      // padding-left: 2rem;
      // padding-right: 2rem;
      // margin-bottom: 1rem;
      margin-bottom: -2rem;
      gap: 1rem;
    }
    @include desktop {
      gap: 4rem;
      justify-content: flex-start;
    }
    &--left {
      @include tablet {
        display: flex;
        justify-content: flex-start;
        //flex-direction: column;
        align-items: center;
        width: 100%;
      }
      @include desktop {
        width: 88%;
        margin-right: -10rem;
      }
    }
    &--below {
      margin-top: -0.5rem;
      @include tablet {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-left: 2rem;
        //margin-top: -2.5rem;
        padding-top: 0;
      }
      @include desktop {
        margin-left: 6rem;
      }
    }
    &--column {
      @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-left: 0;
        margin-right: 0.2rem;
        margin-top: 0.5rem;
      }
      @include desktop {
        width: calc(22% - 1.48rem);
      }
    }
  }
  &__title {
    @include mobile {
      font-size: 1.5rem;
      font-weight: normal;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      //padding: 1rem;
    }
    @include tablet {
      font-size: 2rem;
      font-weight: 400;
      width: 40%;
      margin-right: 0.8rem;
      margin-top: 1.5rem;
      padding-left: 0.5rem;
    }
    @include desktop {
      font-size: 2rem;
      padding-left: 6rem;
      margin-right: -5rem;
    }
  }
  &__social {
    @include mobile {
      margin-top: 0;
      padding-top: 0;
      display: flex;
      justify-content: flex-start;
      gap: 2.3rem;
    }
    &--item {
      @include mobile {
        width: 110%;
        height: auto;
      }
    }

    @include tablet {
      display: flex;
      justify-content: flex-start;
      gap: 2.3rem;
      padding-top: 0.5rem;
    }
    &--item {
      @include tablet {
        width: 110%;
        height: auto;
      }
    }
    @include desktop {
    }
  }

  &__office {
    @include mobile {
      @include footer__font;
      font-weight: 400;
      margin-bottom: 0.2rem;
      padding: 0;
    }
    @include tablet {
      font-weight: 400;
      font-size: 0.82rem;
    }
    @include desktop {
      margin-top: 2.5rem;
    }
  }
  &__address {
    @include mobile {
      @include footer__font;
      font-weight: 100;
      margin-bottom: 1rem;
    }
    @include tablet {
      // @include footer__font;
      font-weight: 100;
      margin-bottom: 0rem;
      margin-top: 0.8rem;
      // line-height: 15px;
      font-size: 0.82rem;
    }
  }
  &__email {
    @include mobile {
      @include footer__font;
      margin-bottom: 0.7rem;
      font-weight: 100;
    }
    @include tablet {
      padding-top: 0.7rem;
      font-weight: 100;
      font-size: 0.8rem;
    }
    &--one {
      @include mobile {
        @include footer__font;
        //margin-bottom: 0.6rem;
        margin-top: 1rem;
        font-weight: 100;
      }
      @include tablet {
        @include footer__font;
        margin-bottom: 0.7rem;
        padding-top: 0rem;
        font-weight: 100;
      }
    }
    &--two {
      @include mobile {
        @include footer__font;
        padding-top: 0rem;
      }
      @include tablet {
        @include footer__font;
        margin-bottom: 0.7rem;
        padding-top: 0rem;
        font-weight: 100;
      }
    }
  }
  &__group {
    @include mobile {
      @include footer__font;
      margin-bottom: 0;
      font-weight: 400;
      margin-top: 1.2rem;
    }
    @include tablet {
      margin-bottom: 0;
      font-weight: 400;
      font-size: 0.81rem;
      margin-top: 0.5rem;
      padding-top: 0.2rem;
    }
    &--two {
      @include mobile {
        @include footer__font;
        margin-top: 1.5rem;
        margin-bottom: 0rem;
        font-weight: 400;
      }
      @include tablet {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 0.81rem;
        margin-top: 0.5rem;
        padding-top: 0.2rem;
      }
    }
  }
  &__agent {
    @include mobile {
      @include footer__font;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-weight: 100;
    }
    @include tablet {
      margin-top: 1rem;
      padding-top: 0.6rem;
      margin-bottom: 0.5rem;
      font-size: 0.82rem;
      font-weight: 100;
    }
    &--two {
      @include mobile {
        @include footer__font;
        margin-top: 1rem;
        margin-bottom: 0.4rem;
      }
      @include tablet {
        margin-top: 1rem;
        padding-top: 0.6rem;
        margin-bottom: 0.5rem;
        font-size: 0.82rem;
        font-weight: 100;
      }
    }
  }
  &__logo {
    @include mobile {
      margin-top: 3.2rem;
    }
    @include tablet {
      visibility: hidden;
    }
    &--widescreen {
      @include mobile {
        visibility: hidden;
      }
      @include tablet {
        padding-right: 0rem;
        margin-right: 2.2rem;
        width: 7rem;
        height: auto;
        padding-top: 0.5rem;
      }
      @include desktop {
        margin-right: 5rem;
      }
    }
  }
  &__copyright {
    @include mobile {
      margin-top: 0.5rem;
      font-size: 0.7rem;
      line-height: 20px;
      font-weight: 100;
      margin-bottom: 1rem;
    }
    @include tablet {
      margin-top: -0.5rem;
      font-size: 0.82rem;
      line-height: 20px;
      font-weight: 100;
      margin-left: 2rem;
      margin-bottom: 2rem;
    }
    @include desktop {
      margin-top: 0.8rem;
    }
  }
}
