@import url("https://fonts.googleapis.com/css2?family=Afacad&family=Prompt:wght@100;200;300;400;700&display=swap");
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirLTProMedium.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
.nav {
  background-color: #323232;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .nav {
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0.5rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 767px) {
  .nav {
    justify-content: flex-start;
    font-size: 2rem;
    gap: 2rem;
    margin-top: -0.4rem;
    margin-bottom: -0.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    padding-left: 3rem;
    font-size: 1.5rem;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
  }
}
.nav__container {
  margin: 0.5rem;
}
@media screen and (max-width: 767px) {
  .nav__container {
    width: 100%;
  }
}
.nav__logo {
  width: 7.5rem;
  height: 1.25rem;
}
@media screen and (min-width: 767px) {
  .nav__logo {
    width: 8.5rem;
    height: auto;
  }
}
@media screen and (min-width: 1280px) {
  .nav__logo {
    width: 9rem;
    height: auto;
  }
}
.nav__title {
  text-decoration: none;
  display: flex;
  color: #ffffff;
  font-weight: 100;
}
@media screen and (max-width: 767px) {
  .nav__title {
    justify-content: center;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 767px) {
  .nav__title {
    justify-content: flex-start;
    font-size: 5.3rem;
    padding-left: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__title {
    justify-content: flex-start;
    font-size: 5.3rem;
    padding-left: 8rem;
  }
}
.nav__list {
  color: #ffffff;
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  .nav__list {
    margin-top: 2.5rem;
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
  }
}
@media screen and (min-width: 767px) {
  .nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3.5rem;
    flex-direction: row;
    padding-left: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list {
    justify-content: space-between;
    gap: 3rem;
    list-style-type: none;
    font-size: 1.2rem;
    padding-left: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .nav__item {
    position: relative;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 100;
  }
  .nav__item:hover {
    font-weight: 400;
    cursor: pointer;
  }
  .nav__item::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    width: 100%;
    height: 5px;
    background: transparent;
    transition: background-color 0.3s;
  }
  .nav__item:hover::after {
    background-color: #ffffff;
  }
}
@media screen and (min-width: 767px) {
  .nav__item {
    border-bottom: 4px solid transparent;
    padding: 0.5rem;
    color: #e1e1e1;
    font-size: 1rem;
    font-weight: 100;
    padding-bottom: 2rem;
    transition: color 0.3s, border-bottom-color 0.3s;
  }
  .nav__item.active, .nav__item:hover {
    color: #ffffff;
    font-weight: 400;
    border-bottom-color: #ffffff;
    cursor: pointer;
  }
}
@media screen and (min-width: 767px) and (min-width: 1280px) {
  .nav__item {
    font-size: 1rem;
    margin-top: -1.2rem;
    margin-bottom: -1.7rem;
  }
}

.hero__card {
  background-image: url(../assets/images/hero-bio.jpg);
  margin-top: 0rem;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*Because it is uncertain whether the height of the HERO image should change 
    with the resolution, this design is designed using the HERO image height change.
    Maintain the aspect ratio of the hero image regardless of the resolution*/
  padding-top: 52%;
}
@media screen and (min-width: 767px) {
  .hero__card {
    padding-top: 49%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__card {
    padding-top: 47%;
  }
}
.hero__card::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 1;
}
.hero__title {
  position: absolute;
  font-weight: normal;
  color: #ffffff;
  line-height: 2rem;
  z-index: 2;
  top: 32%;
  margin-left: 1rem;
}
@media screen and (min-width: 767px) {
  .hero__title {
    color: #ffffff;
    top: 38%;
    transform: translateY(-50%);
    font-size: 3.25rem;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    margin-left: 6rem;
  }
}

.card__container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.card__title {
  opacity: 75%;
  margin-left: 1rem;
  margin-bottom: 0rem;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 400;
}
@media screen and (min-width: 767px) {
  .card__title {
    margin-bottom: 0rem;
    padding-bottom: 2.25rem;
    padding-top: 3rem;
    margin-top: 0;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .card__title {
    margin-bottom: 0rem;
    padding-bottom: 2.25rem;
    padding-top: 3rem;
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: 400;
    margin-left: 6rem;
  }
}
.card__img {
  width: 90%;
  margin: auto;
  padding: 0;
}
.card__img img {
  width: 100%;
  aspect-ratio: 18/9.5;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: none;
}
@media screen and (min-width: 767px) {
  .card__img {
    width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 0;
  }
  .card__img img {
    width: 100%;
    aspect-ratio: 41/22.2;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 1280px) {
  .card__img {
    width: 65%;
  }
  .card__img img {
    width: 100%;
    aspect-ratio: 52/28.2;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.card__saying {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  font-size: 0.82rem;
  opacity: 80%;
  line-height: 1.38rem;
  margin-bottom: 0;
}
@media screen and (min-width: 767px) {
  .card__saying {
    margin-left: 6.7rem;
    margin-right: 6.7rem;
    margin-top: 2.25rem;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 2.2rem;
    margin-bottom: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .card__saying {
    margin-left: 14rem;
    margin-right: 18rem;
  }
}
.card__name {
  font-weight: normal;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  font-size: 0.82rem;
  opacity: 80%;
  line-height: 1.38rem;
  margin-top: 0.5rem;
}
@media screen and (min-width: 767px) {
  .card__name {
    margin-left: 6.7rem;
    margin-right: 6.7rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin-bottom: 0;
    padding-right: 0;
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .card__name {
    margin-left: 14rem;
    margin-right: 18rem;
  }
}
.card__subtitle {
  font-weight: normal;
  font-size: 0.85rem;
  line-height: 1.38rem;
  margin-left: 1rem;
  padding-left: 0;
  margin-top: 0.5rem;
}
@media screen and (min-width: 767px) {
  .card__subtitle {
    font-size: 1.7rem;
    line-height: 1.38rem;
    margin-left: 6.7rem;
    padding-left: 0;
    padding-top: 1.8rem;
    padding-bottom: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .card__subtitle {
    margin-left: 14rem;
  }
}
@media screen and (min-width: 767px) {
  .card__content--container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 6.7rem;
    padding-right: 6.7rem;
    gap: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .card__content--container {
    margin-left: 14rem;
    margin-right: 14rem;
    padding-left: 0;
    padding-right: 0;
  }
}
.card__content--part {
  margin-top: 0rem;
  font-weight: 100;
}
@media screen and (max-width: 767px) {
  .card__content--part {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 0.8rem;
  }
}
@media screen and (min-width: 767px) {
  .card__content--part {
    font-size: 0.81rem;
    line-height: 1.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .card__content--part {
    padding-right: 0.5rem;
  }
}

.quote__italic {
  font-style: italic;
}

.album {
  background-color: #fafafa;
  width: 100%;
}
.album__title {
  opacity: 75%;
}
@media screen and (max-width: 767px) {
  .album__title {
    margin-left: 1rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 767px) {
  .album__title {
    font-size: 2rem;
    font-weight: 400;
    padding-top: 3.5rem;
    margin-top: 1.2rem;
    padding-left: 2.74rem;
  }
}
@media screen and (min-width: 1280px) {
  .album__title {
    margin-left: 6rem;
    font-weight: 400;
  }
}
.album__container {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .album__container {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media screen and (min-width: 767px) {
  .album__container {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    justify-content: center;
    margin: 0 -0.74rem;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .album__item {
    width: 90%;
    height: auto;
    margin: 1rem auto 0 auto;
    padding: 0;
  }
  .album__item img {
    width: 100%;
    height: 10rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 767px) {
  .album__item {
    width: calc(33.33% - 1.48rem);
    height: auto;
    margin: 0rem 0.74rem 1rem 0.74rem;
    padding: 0;
  }
  .album__item img {
    height: 10rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 1280px) {
  .album__item {
    width: calc(28% - 1.48rem);
    height: auto;
    margin: 0rem 0.74rem 1rem 0.74rem;
    padding: 0;
  }
  .album__item img {
    height: 10rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.footer {
  font-family: "Prompt", sans-serif;
  background-color: #323232;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .footer {
    margin-top: 0.8rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 767px) {
  .footer {
    padding-left: 2rem;
    padding-top: 1rem;
  }
}
.footer__container {
  margin-bottom: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 767px) {
  .footer__container {
    margin-bottom: -1rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: -2rem;
    gap: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    gap: 4rem;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 767px) {
  .footer__container--left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container--left {
    width: 88%;
    margin-right: -10rem;
  }
}
.footer__container--below {
  margin-top: -0.5rem;
}
@media screen and (min-width: 767px) {
  .footer__container--below {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 2rem;
    padding-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container--below {
    margin-left: 6rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__container--column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-left: 0;
    margin-right: 0.2rem;
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container--column {
    width: calc(22% - 1.48rem);
  }
}
@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__title {
    font-size: 2rem;
    font-weight: 400;
    width: 40%;
    margin-right: 0.8rem;
    margin-top: 1.5rem;
    padding-left: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    font-size: 2rem;
    padding-left: 6rem;
    margin-right: -5rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__social {
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: flex-start;
    gap: 2.3rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__social--item {
    width: 110%;
    height: auto;
  }
}
@media screen and (min-width: 767px) {
  .footer__social {
    display: flex;
    justify-content: flex-start;
    gap: 2.3rem;
    padding-top: 0.5rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__social--item {
    width: 110%;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .footer__office {
    font-size: 0.81rem;
    line-height: 18px;
    font-weight: 100;
    font-weight: 400;
    margin-bottom: 0.2rem;
    padding: 0;
    margin-top: 0.9rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__office {
    font-weight: 400;
    font-size: 0.82rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__office {
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__address {
    font-size: 0.81rem;
    line-height: 18px;
    font-weight: 100;
    font-weight: 100;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__address {
    font-weight: 100;
    margin-bottom: 0rem;
    margin-top: 0.8rem;
    font-size: 0.82rem;
  }
}
.footer__email {
  font-weight: 100;
}
@media screen and (max-width: 767px) {
  .footer__email {
    font-size: 0.81rem;
    line-height: 18px;
    font-weight: 100;
    margin-bottom: 0.7rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__email {
    padding-top: 0.7rem;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__email--one {
    font-weight: 100;
    font-size: 0.81rem;
    line-height: 18px;
    font-weight: 100;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__email--one {
    font-size: 0.81rem;
    line-height: 18px;
    font-weight: 100;
    margin-bottom: 0.7rem;
    padding-top: 0rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__email--two {
    font-size: 0.81rem;
    line-height: 18px;
    font-weight: 100;
    padding-top: 0rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__email--two {
    font-size: 0.81rem;
    line-height: 18px;
    font-weight: 100;
    margin-bottom: 0.7rem;
    padding-top: 0rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__group {
    font-size: 0.81rem;
    line-height: 18px;
    font-weight: 100;
    margin-bottom: 0;
    font-weight: 400;
    margin-top: 1.7rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__group {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 0.81rem;
    margin-top: 0.5rem;
    padding-top: 0.2rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__group--two {
    font-size: 0.81rem;
    line-height: 18px;
    font-weight: 100;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 767px) {
  .footer__group--two {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 0.81rem;
    margin-top: 0.5rem;
    padding-top: 0.2rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__agent {
    font-size: 0.81rem;
    line-height: 18px;
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__agent {
    margin-top: 1rem;
    padding-top: 0.6rem;
    margin-bottom: 0.5rem;
    font-size: 0.82rem;
    font-weight: 100;
  }
}
@media screen and (max-width: 767px) {
  .footer__agent--two {
    font-size: 0.81rem;
    line-height: 18px;
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__agent--two {
    margin-top: 1rem;
    padding-top: 0.6rem;
    margin-bottom: 0.5rem;
    font-size: 0.82rem;
    font-weight: 100;
  }
}
@media screen and (max-width: 767px) {
  .footer__logo {
    margin-top: 3.2rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__logo {
    visibility: hidden;
  }
}
@media screen and (max-width: 767px) {
  .footer__logo--widescreen {
    visibility: hidden;
  }
}
@media screen and (min-width: 767px) {
  .footer__logo--widescreen {
    padding-right: 0rem;
    margin-right: 2.2rem;
    width: 7rem;
    height: auto;
    padding-top: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo--widescreen {
    margin-right: 5rem;
  }
}
.footer__copyright {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  line-height: 20px;
  font-weight: 100;
  margin-bottom: 1rem;
}
@media screen and (min-width: 767px) {
  .footer__copyright {
    margin-top: -0.5rem;
    font-size: 0.82rem;
    line-height: 20px;
    font-weight: 100;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    margin-top: 0.8rem;
    margin-left: 6rem;
  }
}

.comment__title {
  background-color: #fafafa;
  width: 100%;
  opacity: 85%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}
@media screen and (min-width: 767px) {
  .comment__title {
    font-size: 2rem;
    font-weight: 400;
    padding-top: 3.5rem;
    margin-top: 1.2rem;
    padding-left: 2.74rem;
  }
}
@media screen and (min-width: 1280px) {
  .comment__title {
    margin-left: 6rem;
    font-weight: 400;
  }
}
.comment__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.comment__container--right {
  width: 100%;
  display: flex;
  gap: 4px;
  flex-direction: column;
  margin-right: 1rem;
}
.comment__pic {
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #e1e1e1;
}
.comment__label {
  font-size: 10px;
  opacity: 40%;
  font-weight: 400;
  line-height: 20px;
}
.comment__name {
  height: 35px;
  border-radius: 4px;
  border-color: #e1e1e1;
  border-width: 1px;
  background-color: #fafafa;
  margin-bottom: 1rem;
}
.comment__name::-moz-placeholder {
  color: #000000;
  font-family: "Avenir Next";
  font-weight: 100;
  padding-top: 3%;
}
.comment__name:-ms-input-placeholder {
  color: #000000;
  font-family: "Avenir Next";
  font-weight: 100;
  padding-top: 3%;
}
.comment__name::placeholder {
  color: #000000;
  font-family: "Avenir Next";
  font-weight: 100;
  padding-top: 3%;
}
.comment__name:focus {
  outline: none;
  border: 1px solid #000000 !important;
}
.comment__comments {
  border-radius: 4px;
  border-color: #e1e1e1;
  border-width: 1px;
  background-color: #fafafa;
  margin-bottom: 1rem;
}
.comment__comments:focus {
  outline: none;
  border: 1px solid #000000 !important;
}
.comment__comments::-moz-placeholder {
  color: #000000;
  font-family: "Avenir Next";
  font-weight: 100;
  padding-top: 0.5rem;
}
.comment__comments:-ms-input-placeholder {
  color: #000000;
  font-family: "Avenir Next";
  font-weight: 100;
  padding-top: 0.5rem;
}
.comment__comments::placeholder {
  color: #000000;
  font-family: "Avenir Next";
  font-weight: 100;
  padding-top: 0.5rem;
}
.comment__button {
  background-color: #323232;
  color: #ffffff;
  padding: 0.6rem;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 4px;
}
.comment__divider {
  height: 1px;
  background-color: #e1e1e1;
  margin-top: 1rem;
}/*# sourceMappingURL=bio.css.map */