//@use "./base/global.scss" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.nav {
  background-color: $primary-bandsite-black;
  padding-bottom: 0;
  @include mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    margin-top: 0;
  }
  @include tablet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    gap: 2rem;
    //height: 5rem;
  }
  @include desktop {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 3rem;
    font-size: 1.5rem;
  }

  &__h2-title {
    @include mobile {
      margin: 0.5rem;
      width: 100%;
    }
    @include tablet {
      margin: 0.5rem;
      // width: 100%;
    }
  }

  &__logo {
    @include mobile {
      width: 7.5rem;
      height: 1.25rem;
    }
    @include mobile {
      width: 7.5rem;
      height: 1.25rem;
    }
  }
  &__title {
    text-decoration: none;
    display: flex;
    color: $primary-white;
    // font-weight: 100;
    // font-size: 2rem;
    @include mobile {
      justify-content: center;
      font-size: 1.3rem;
      font-weight: 100;
    }
    @include tablet {
      justify-content: flex-start;
      font-size: 1.3rem;
      font-weight: 100;
    }
  }

  &__list {
    color: $primary-white;
    list-style-type: none;
    @include mobile {
      margin-top: 2.5rem;
      width: 100%;
      padding: 0;
      margin: 0;
      //make the nav_list take up the whole nav width
      //to add wide underline when hover
      display: grid;
      flex-direction: row;
      //create two columns with same width
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-around;
    }
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4.5rem;
      display: flex;
      flex-direction: row;

      justify-content: space-around;
    }
    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4.5rem;
      list-style-type: none;
      font-size: 1.2rem;
    }
  }
  &__item {
    @include mobile {
      position: relative;
      text-align: center;
      padding: 0.5rem;
      font-size: 0.8rem;
      font-weight: 100;
      &:hover {
        font-weight: 700;
      }
      &::after {
        content: "";
        position: absolute;
        left: 50%; //left side and half width
        //modify the center of pseudo
        transform: translateX(-50%);
        bottom: -2px;
        width: 100%;
        height: 5px;
        background: transparent;
        transition: background-color 0.3s;
      }
      &:hover::after {
        background-color: $primary-white;
      }
    }

    @include tablet {
      border-bottom: 2px solid transparent;
      padding: 0.5rem;
      color: $secondary-mercury;
      font-size: 0.8rem;
      transition: color 0.3s, border-bottom-color 0.3s;
      &.active,
      &:hover {
        color: $primary-white;
        font-weight: 700;
        border-bottom-color: $primary-white;
      }
    }
  }
}
.hero {
  &__card {
    background-image: url(../assets/images/hero-bio.jpg);
    margin-top: 0rem;
    display: flex;
    align-items: center;
    //add a non-static position,
    //Pseudo-element relative to positioned non-static ancestor
    position: relative;
    @include mobile {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 11.3rem;
    }
    @include tablet {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 32.5rem;
    }
  }
  &__card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //Black mask with 50% opacity
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 1;
  }

  &__title {
    @include mobile {
      color: $primary-white;
      font-weight: 100;
      line-height: 2rem;
      //Keeps the text on top of the black mask
      z-index: 2;
      margin-left: 1rem;
    }
    @include tablet {
      color: $primary-white;
      font-weight: 100;
      font-size: 4rem;
      line-height: 2rem;
      //Keeps the text on top of the black mask
      z-index: 2;
      margin-left: 1rem;
    }
  }
}

.card {
  &__container {
    @include mobile {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }
  }
  &__title {
    opacity: 85%;
    margin-left: 1rem;

    @include mobile {
      margin-bottom: 0rem;
      padding-bottom: 1rem;
      padding-top: 1.5rem;
      margin-top: 0;
      font-size: 1.5rem;
      font-weight: 700;
    }
    @include tablet {
      margin-bottom: 0rem;
      padding-bottom: 2.25rem;
      padding-top: 3rem;
      margin-top: 0;
      font-size: 2.5rem;
      font-weight: 700;
    }
    /////tablet & desktop可能一致
    @include desktop {
      margin-bottom: 0rem;
      padding-bottom: 2.25rem;
      padding-top: 3rem;
      margin-top: 0;
      font-size: 2.5rem;
      font-weight: 700;
    }
  }
  &__img {
    @include mobile {
      width: 90%;
      height: auto;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 0;
      margin-bottom: 0;
      img {
        width: 100%;
        height: 15rem;
        //object-fit works for <img>
        object-fit: cover;
      }
    }

    @include tablet {
      width: 75%;
      height: auto;
      margin-left: 6.7rem;
      margin-right: 6.7rem;
      padding: 0;
      margin-bottom: 0;
      img {
        width: 100%;
        height: 22.2rem;
        object-fit: cover;
      }
    }
  }

  &__saying {
    @include mobile {
      @include card__saying--style;
      margin-bottom: 0;
    }
    @include tablet {
      margin-left: 6.7rem;
      margin-right: 6.7rem;
      margin-top: 2.25rem;
      font-size: 1.6rem;
      font-weight: 600;
      opacity: 80%;
      line-height: 2.2rem;
      margin-bottom: 0;
      padding-right: 0;
    }
  }

  &__name {
    @include mobile {
      @include card__saying--style;
      margin-top: 0.5rem;
    }
    @include tablet {
      margin-left: 6.7rem;
      margin-right: 6.7rem;
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      opacity: 80%;
      line-height: 2.2rem;
      margin-bottom: 0;
      padding-right: 0;
      margin-top: 0.5rem;
    }
  }

  &__subtitle {
    @include mobile {
      font-size: 0.85rem;
      line-height: 1.38rem;
      font-weight: 600;
      opacity: 80%;
      margin-left: 1rem;
      padding-left: 0;
      margin-top: 0.5rem;
    }
    @include tablet {
      font-size: 1.7rem;
      line-height: 1.38rem;
      font-weight: 600;
      margin-left: 6.7rem;
      padding-left: 0;
      padding-top: 1.8rem;
      padding-bottom: 0.8rem;
    }
  }
  &__content {
    &--container {
      @include tablet {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 6.7rem;
        padding-right: 6.7rem;
        gap: 2rem;
      }
    }
  }
  &__content--part {
    @include mobile {
      font-size: 0.82rem;
      line-height: 1.125rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 0rem;
      font-weight: 400;
      padding-right: 0.85rem;
      opacity: 80%;
    }
    @include tablet {
      font-size: 1rem;
      line-height: 1.6rem;
      margin-top: 0rem;
      font-weight: 400;
      opacity: 80%;
    }
  }
}
.quote__italic {
  font-style: italic;
}
.album {
  background-color: $secondary-mercury;
  &__title {
    opacity: 75%;
    @include mobile {
      margin-left: 1rem;
      margin-bottom: 0;
      margin-top: 0.5rem;
      padding-top: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
    }
    @include tablet {
      font-size: 2.5rem;
      font-weight: 700;
      padding-top: 3.5rem;
      margin-top: 1.2rem;
      padding-left: 2rem;
    }
  }
  &__container {
    @include mobile {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
    }
    @include tablet {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
      display: flex-warp;
      //flex-direction: column;
      //justify-content: space-around;
      // align-items: flex-start;
      width: 100%;
      padding-left: 2rem;
      //padding-right: 1.8rem;
      padding-bottom: 1rem;
      margin-bottom: 0;
    }
  }
  &__item {
    @include mobile {
      width: 90%;
      height: auto;
      margin: 1rem 1rem 0 1rem;
      padding: 0;
      img {
        width: 100%;
        height: 10rem;
        //object-fit works for <img>
        object-fit: cover;
      }
    }
    @include tablet {
      width: 30%;
      height: auto;
      margin: 0rem 1rem 1rem 0rem;
      padding: 0;
      img {
        // width: 15%;
        height: 10rem;
        //object-fit works for <img>
        object-fit: cover;
      }
    }
  }
}

.footer {
  background-color: $primary-bandsite-black;
  color: $primary-white;
  @include mobile {
    margin-top: 1rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
  @include tablet {
    padding-left: 2rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
  &__container {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      // padding-left: 2rem;
      // padding-right: 2rem;
      margin-bottom: 1rem;
      gap: 1rem;
    }
    &--left {
      @include tablet {
        display: flex;
        justify-content: flex-start;
        //flex-direction: column;
        align-items: center;
        width: 100%;
      }
    }
    &--below {
      @include tablet {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-left: 2rem;
        margin-top: -0.5rem;
      }
    }
    &--column {
      @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-left: 0;
        margin-right: 0.2rem;
      }
    }
  }
  &__title {
    @include mobile {
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    @include tablet {
      font-size: 2.3rem;
      font-weight: 500;
      width: 40%;
      margin-right: 0.8rem;
    }
  }
  &__social {
    @include mobile {
      display: flex;
      justify-content: flex-start;
      gap: 2.3rem;
    }
    &--item {
      @include mobile {
        width: 110%;
        height: auto;
      }
    }

    @include tablet {
      display: flex;
      justify-content: flex-start;
      gap: 2.3rem;
    }
    &--item {
      @include tablet {
        width: 130%;
        height: auto;
      }
    }
  }

  &__office {
    @include mobile {
      font-weight: 600;
      margin-bottom: 0.2rem;
      margin-top: 1.5rem;
      @include footer__font;
    }
    @include tablet {
      font-weight: 600;
      margin-top: -0.5rem;

      // @include footer__font;
    }
  }
  &__address {
    @include mobile {
      @include footer__font;
      font-weight: 100;
      margin-bottom: 0.5rem;
    }
    @include tablet {
      // @include footer__font;
      font-weight: 100;
      margin-bottom: -0.5rem;
      margin-top: 0.5rem;
      // line-height: 15px;
      font-size: 1rem;
    }
  }
  &__email {
    @include mobile {
      @include footer__font;
      margin-bottom: 0.7rem;
      font-weight: 100;
    }
    &--one {
      @include mobile {
        @include footer__font;
        margin-bottom: 0.6rem;
      }
    }
    &--two {
      @include mobile {
        @include footer__font;
        //argin-bottom: 1rem;
      }
    }
  }
  &__group {
    @include mobile {
      @include footer__font;
      margin-bottom: 0;
      font-weight: 600;
    }
    &--two {
      @include mobile {
        @include footer__font;
        margin-top: 1rem;
        margin-bottom: 0rem;
        font-weight: 600;
      }
    }
  }
  &__agent {
    @include mobile {
      @include footer__font;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
    &--two {
      @include mobile {
        @include footer__font;
        margin-top: 1rem;
        margin-bottom: 0.4rem;
      }
    }
  }
  &__logo {
    @include mobile {
      margin-top: 3.2rem;
    }
    @include tablet {
      visibility: hidden;
    }
    &--tablet {
      @include mobile {
        visibility: hidden;
      }
      @include tablet {
        padding-right: 0rem;
        margin-right: 1rem;
        width: 8rem;
        height: auto;
      }
    }
  }
  &__copyright {
    @include mobile {
      margin-top: 1rem;
      font-size: 0.7rem;
      line-height: 20px;
      font-weight: 100;
    }
    @include tablet {
      margin-top: 1rem;
      font-size: 1rem;
      line-height: 20px;
      font-weight: 100;
      margin-left: 2rem;
      margin-bottom: 3rem;
    }
  }
}
