@import url("https://fonts.googleapis.com/css2?family=Afacad&family=Prompt:wght@100;200;300;400;700&display=swap");
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirLTProMedium.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
.nav {
  background-color: #323232;
  padding-bottom: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .nav {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0.5rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 767px) {
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    gap: 2rem;
    margin-top: -0.4rem;
    margin-bottom: -0.4rem;
  }
}
@media (min-width: 1280px) {
  .nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 3rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .nav__container {
    margin: 0.5rem;
    width: 100%;
  }
}
@media screen and (min-width: 767px) {
  .nav__container {
    margin: 0.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .nav__logo {
    width: 7.5rem;
    height: 1.25rem;
  }
}
@media screen and (min-width: 767px) {
  .nav__logo {
    width: 8.5rem;
    height: auto;
  }
}
.nav__title {
  text-decoration: none;
  display: flex;
  color: #ffffff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .nav__title {
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 100;
  }
}
@media screen and (min-width: 767px) {
  .nav__title {
    justify-content: flex-start;
    font-size: 5.3rem;
    font-weight: 100;
    padding-left: 2.5rem;
  }
}
.nav__list {
  color: #ffffff;
  list-style-type: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .nav__list {
    margin-top: 2.5rem;
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
  }
}
@media screen and (min-width: 767px) {
  .nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3.5rem;
    display: flex;
    flex-direction: row;
    padding-left: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4.5rem;
    list-style-type: none;
    font-size: 1.2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .nav__item {
    position: relative;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 100;
  }
  .nav__item:hover {
    font-weight: 400;
  }
  .nav__item::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    width: 100%;
    height: 5px;
    background: transparent;
    transition: background-color 0.3s;
  }
  .nav__item:hover::after {
    background-color: #ffffff;
  }
}
@media screen and (min-width: 767px) {
  .nav__item {
    border-bottom: 2px solid transparent;
    padding: 0.5rem;
    color: #e1e1e1;
    font-size: 1.2rem;
    font-weight: 100;
    padding-bottom: 2rem;
    transition: color 0.3s, border-bottom-color 0.3s;
  }
  .nav__item.active, .nav__item:hover {
    color: #ffffff;
    font-weight: 400;
    border-bottom-color: #ffffff;
  }
  .nav__item:hover::after {
    background-color: #ffffff;
  }
}

.hero__card {
  background-image: url(../assets/images/hero-bio.jpg);
  margin-top: 0rem;
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero__card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 58%;
    width: 100%;
  }
}
@media screen and (min-width: 767px) {
  .hero__card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 58%;
  }
}
.hero__card::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 1;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero__title {
    color: #ffffff;
    font-weight: 400;
    line-height: 2rem;
    position: absolute;
    top: 32%;
    z-index: 2;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 767px) {
  .hero__title {
    color: #ffffff;
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
    font-weight: 100;
    font-size: 3.75rem;
    line-height: 2rem;
    z-index: 2;
    margin-left: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .card__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}
.card__title {
  opacity: 75%;
  margin-left: 1rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .card__title {
    margin-bottom: 0rem;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 767px) {
  .card__title {
    margin-bottom: 0rem;
    padding-bottom: 2.25rem;
    padding-top: 3rem;
    margin-top: 0;
    font-size: 2rem;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .card__title {
    margin-bottom: 0rem;
    padding-bottom: 2.25rem;
    padding-top: 3rem;
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: 700;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .card__img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 0;
  }
  .card__img img {
    width: 100%;
    height: 10.2rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 767px) {
  .card__img {
    width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 0;
  }
  .card__img img {
    width: 100%;
    height: 22.2rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .card__saying {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 0.82rem;
    font-weight: 100;
    opacity: 80%;
    line-height: 1.38rem;
    margin-bottom: 0;
    opacity: 75%;
  }
}
@media screen and (min-width: 767px) {
  .card__saying {
    margin-left: 6.7rem;
    margin-right: 6.7rem;
    margin-top: 2.25rem;
    font-size: 1.6rem;
    font-weight: normal;
    opacity: 80%;
    line-height: 2.2rem;
    margin-bottom: 0;
    padding-right: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .card__name {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 0.82rem;
    font-weight: 100;
    opacity: 80%;
    line-height: 1.38rem;
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 767px) {
  .card__name {
    margin-left: 6.7rem;
    margin-right: 6.7rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 80%;
    line-height: 2.2rem;
    margin-bottom: 0;
    padding-right: 0;
    margin-top: 0.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .card__subtitle {
    font-size: 0.85rem;
    line-height: 1.38rem;
    font-weight: normal;
    opacity: 400;
    margin-left: 1rem;
    padding-left: 0;
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 767px) {
  .card__subtitle {
    font-size: 1.7rem;
    line-height: 1.38rem;
    font-weight: 600;
    margin-left: 6.7rem;
    padding-left: 0;
    padding-top: 1.8rem;
    padding-bottom: 0.8rem;
  }
}
@media screen and (min-width: 767px) {
  .card__content--container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 6.7rem;
    padding-right: 6.7rem;
    gap: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .card__content--part {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0rem;
    font-weight: 100;
    padding-right: 0.8rem;
    opacity: 100%;
  }
}
@media screen and (min-width: 767px) {
  .card__content--part {
    font-size: 0.81rem;
    line-height: 1.6rem;
    margin-top: 0rem;
    font-weight: 400;
    opacity: 80%;
  }
}

.quote__italic {
  font-style: italic;
}

.album {
  background-color: #e1e1e1;
  width: 100%;
}
.album__title {
  opacity: 75%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .album__title {
    margin-left: 1rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 767px) {
  .album__title {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 3.5rem;
    margin-top: 1.2rem;
    padding-left: 2.74rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .album__container {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
  }
}
@media screen and (min-width: 767px) {
  .album__container {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    margin: 0 -0.74rem;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    margin-right: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .album__item {
    width: 90%;
    height: auto;
    margin: 1rem 1rem 0 1rem;
    padding: 0;
  }
  .album__item img {
    width: 100%;
    height: 10rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 767px) {
  .album__item {
    width: calc(33.33% - 1.48rem);
    height: auto;
    margin: 0rem 0.74rem 1rem 0.74rem;
    padding: 0;
  }
  .album__item img {
    height: 10rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.footer {
  font-family: "Prompt", sans-serif;
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    margin-top: 0.8rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
}
@media screen and (min-width: 767px) {
  .footer {
    padding-left: 2rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
}
.footer__container {
  margin-bottom: 0;
  padding-bottom: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__container {
    margin-bottom: -1rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: -2rem;
    gap: 1rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__container--left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
}
.footer__container--below {
  margin-top: -0.5rem;
}
@media screen and (min-width: 767px) {
  .footer__container--below {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 2rem;
    padding-top: 0;
  }
}
@media screen and (min-width: 767px) {
  .footer__container--column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-left: 0;
    margin-right: 0.2rem;
    margin-top: 0.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__title {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__title {
    font-size: 2rem;
    font-weight: 400;
    width: 40%;
    margin-right: 0.8rem;
    margin-top: 1.5rem;
    padding-left: 0.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__social {
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: flex-start;
    gap: 2.3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__social--item {
    width: 110%;
    height: auto;
  }
}
@media screen and (min-width: 767px) {
  .footer__social {
    display: flex;
    justify-content: flex-start;
    gap: 2.3rem;
    padding-top: 0.5rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__social--item {
    width: 110%;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__office {
    font-size: 0.81rem;
    line-height: 18px;
    font-size: 100;
    font-weight: 400;
    margin-bottom: 0.2rem;
    padding: 0;
  }
}
@media screen and (min-width: 767px) {
  .footer__office {
    font-weight: 400;
    font-size: 0.82rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__address {
    font-size: 0.81rem;
    line-height: 18px;
    font-size: 100;
    font-weight: 100;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__address {
    font-weight: 100;
    margin-bottom: 0rem;
    margin-top: 0.8rem;
    font-size: 0.82rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__email {
    font-size: 0.81rem;
    line-height: 18px;
    font-size: 100;
    margin-bottom: 0.7rem;
    font-weight: 100;
  }
}
@media screen and (min-width: 767px) {
  .footer__email {
    padding-top: 0.7rem;
    font-weight: 100;
    font-size: 0.8rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__email--one {
    font-size: 0.81rem;
    line-height: 18px;
    font-size: 100;
    margin-top: 1rem;
    font-weight: 100;
  }
}
@media screen and (min-width: 767px) {
  .footer__email--one {
    font-size: 0.81rem;
    line-height: 18px;
    font-size: 100;
    margin-bottom: 0.7rem;
    padding-top: 0rem;
    font-weight: 100;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__email--two {
    font-size: 0.81rem;
    line-height: 18px;
    font-size: 100;
    padding-top: 0rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__email--two {
    font-size: 0.81rem;
    line-height: 18px;
    font-size: 100;
    margin-bottom: 0.7rem;
    padding-top: 0rem;
    font-weight: 100;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__group {
    font-size: 0.81rem;
    line-height: 18px;
    font-size: 100;
    margin-bottom: 0;
    font-weight: 400;
    margin-top: 1.2rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__group {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 0.81rem;
    margin-top: 0.5rem;
    padding-top: 0.2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__group--two {
    font-size: 0.81rem;
    line-height: 18px;
    font-size: 100;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 767px) {
  .footer__group--two {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 0.81rem;
    margin-top: 0.5rem;
    padding-top: 0.2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__agent {
    font-size: 0.81rem;
    line-height: 18px;
    font-size: 100;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 100;
  }
}
@media screen and (min-width: 767px) {
  .footer__agent {
    margin-top: 1rem;
    padding-top: 0.6rem;
    margin-bottom: 0.5rem;
    font-size: 0.82rem;
    font-weight: 100;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__agent--two {
    font-size: 0.81rem;
    line-height: 18px;
    font-size: 100;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__agent--two {
    margin-top: 1rem;
    padding-top: 0.6rem;
    margin-bottom: 0.5rem;
    font-size: 0.82rem;
    font-weight: 100;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__logo {
    margin-top: 3.2rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__logo {
    visibility: hidden;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__logo--widescreen {
    visibility: hidden;
  }
}
@media screen and (min-width: 767px) {
  .footer__logo--widescreen {
    padding-right: 0rem;
    margin-right: 2.2rem;
    width: 7rem;
    height: auto;
    padding-top: 0.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__copyright {
    margin-top: 0.5rem;
    font-size: 0.7rem;
    line-height: 20px;
    font-weight: 100;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 767px) {
  .footer__copyright {
    margin-top: -0.5rem;
    font-size: 0.82rem;
    line-height: 20px;
    font-weight: 100;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}/*# sourceMappingURL=bio.css.map */