@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;

.hero {
  &__card {
    background-image: url(../assets/images/hero-bio.jpg);
    margin-top: 0rem;
    display: flex;
    align-items: center;
    //add a non-static position,
    //Pseudo-element relative to positioned non-static ancestor
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*Because it is uncertain whether the height of the HERO image should change
      with the resolution, this design is designed using the HERO image height change.
      Maintain the aspect ratio of the hero image regardless of the resolution*/
    padding-top: 52%;
    @include tablet {
      padding-top: 49%;
    }
    @include desktop {
      padding-top: 47%;
    }
  }
  &__card::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //Black mask with 50% opacity
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 1;
  }

  &__title {
    position: absolute;
    font-weight: normal;
    color: $primary-white;
    line-height: 2rem;
    //Keeps the text on top of the black mask
    z-index: 2;
    top: 32%;
    margin-left: 1rem;
    @include tablet {
      color: $primary-white;
      top: 38%;
      transform: translateY(-50%);
      font-size: 3.25rem;
      margin-left: 2rem;
    }
    @include desktop {
      margin-left: 6rem;
    }
  }
}

.card {
  &__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
  }
  &__title {
    opacity: 75%;
    margin-left: 1rem;
    margin-bottom: 0rem;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 400;
    @include tablet {
      margin-bottom: 0rem;
      padding-bottom: 2.25rem;
      padding-top: 3rem;
      margin-top: 0;
      font-size: 2rem;
      font-weight: 400;
      margin-left: 2rem;
    }
    @include desktop {
      margin-bottom: 0rem;
      padding-bottom: 2.25rem;
      padding-top: 3rem;
      margin-top: 0;
      font-size: 2.5rem;
      font-weight: 400;
      margin-left: 6rem;
    }
  }

  &__img {
    width: 90%;
    margin: auto;
    padding: 0;
    img {
      width: 100%;
      //The height of the photo is compressed and the photo regains an aspect ratio
      aspect-ratio: 18 / 9.5;
      //object-fit works for <img>
      object-fit: cover;
      max-height: none;
    }
    @include tablet {
      width: 75%;
      height: auto;
      margin: 0 auto;
      padding: 0;
      margin-bottom: 0;
      img {
        width: 100%;
        aspect-ratio: 41/22.2;
        object-fit: cover;
      }
    }
    @include desktop {
      width: 65%;
      img {
        width: 100%;
        aspect-ratio: 52/28.2;
        object-fit: cover;
      }
    }
  }

  &__saying {
    @include card__saying--style;
    margin-bottom: 0;
    @include tablet {
      margin-left: 6.7rem;
      margin-right: 6.7rem;
      margin-top: 2.25rem;
      font-size: 1.3rem;
      font-weight: normal;
      line-height: 2.2rem;
      margin-bottom: 0;
      padding-right: 0;
    }
    @include desktop {
      margin-left: 14rem;
      margin-right: 18rem;
    }
  }

  &__name {
    font-weight: normal;
    @include card__saying--style;
    margin-top: 0.5rem;
    @include tablet {
      margin-left: 6.7rem;
      margin-right: 6.7rem;
      margin-top: 1rem;
      font-size: 1.2rem;
      line-height: 2.2rem;
      margin-bottom: 0;
      padding-right: 0;
      margin-top: 0.5rem;
    }
    @include desktop {
      margin-left: 14rem;
      margin-right: 18rem;
    }
  }

  &__subtitle {
    font-weight: normal;
    font-size: 0.85rem;
    line-height: 1.38rem;
    margin-left: 1rem;
    padding-left: 0;
    margin-top: 0.5rem;
    @include tablet {
      font-size: 1.7rem;
      line-height: 1.38rem;
      margin-left: 6.7rem;
      padding-left: 0;
      padding-top: 1.8rem;
      padding-bottom: 0.8rem;
    }
    @include desktop {
      margin-left: 14rem;
    }
  }
  &__content {
    &--container {
      @include tablet {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 6.7rem;
        padding-right: 6.7rem;
        gap: 2rem;
      }
      @include desktop {
        margin-left: 14rem;
        margin-right: 14rem;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &__content--part {
    margin-top: 0rem;
    font-weight: 100;
    @include mobile {
      font-size: 0.8rem;
      line-height: 1.2rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding-right: 0.8rem;
    }
    @include tablet {
      font-size: 0.81rem;
      line-height: 1.6rem;
    }
    @include desktop {
      padding-right: 0.5rem;
    }
  }
}

.quote__italic {
  font-style: italic;
}

.album {
  background-color: $secondary-alabaster;
  width: 100%;
  &__title {
    opacity: 75%;
    @include mobile {
      margin-left: 1rem;
      margin-bottom: 0;
      margin-top: 0.5rem;
      padding-top: 1rem;
      font-size: 1.5rem;
      font-weight: 400;
    }
    @include tablet {
      font-size: 2rem;
      font-weight: 400;
      padding-top: 3.5rem;
      margin-top: 1.2rem;
      padding-left: 2.74rem;
    }
    @include desktop {
      margin-left: 6rem;
      font-weight: 400;
    }
  }

  &__container {
    display: flex;
    //width: 100%;
    @include mobile {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }
    @include tablet {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
      justify-content: center;
      margin: 0 -0.74rem;
      flex-wrap: wrap;
      margin-left: 1rem;
      padding-bottom: 1rem;
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  &__item {
    @include mobile {
      width: 90%;
      height: auto;
      margin: 1rem auto 0 auto;
      padding: 0;
      img {
        width: 100%;
        height: 10rem;
        object-fit: cover;
      }
    }
    @include tablet {
      width: calc(33.33% - 1.48rem);
      height: auto;
      margin: 0rem 0.74rem 1rem 0.74rem;
      padding: 0;
      img {
        height: 10rem;
        object-fit: cover;
      }
    }
    @include desktop {
      //The width of the item is 28% of the width of its parent element
      //and is adjusted by subtracting 1.48rem from this width
      width: calc(28% - 1.48rem);
      height: auto;
      margin: 0rem 0.74rem 1rem 0.74rem;
      padding: 0;
      img {
        height: 10rem;
        object-fit: cover;
      }
    }
  }
}

//sprint-2
.comment {
  &__title {
    @include h2__style;
    @include tablet {
      font-size: 2rem;
      font-weight: 400;
      padding-top: 3.5rem;
      margin-top: 0.2rem;
      padding-left: 2rem;
    }
    @include desktop {
      margin-left: 6rem;
      font-weight: 400;
    }
    @include desktop {
      font-size: 2.5rem;
      margin-left: 8rem;
      margin-top: 0.2rem;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    @include tablet {
      margin-left: 5rem;
      gap: 0;
    }
    @include desktop {
      justify-content: space-evenly;
      // margin-left: 24rem;
      // margin-right: 16rem;
      width: 47%;
      margin: auto;
      gap: 0;
    }
    &--right {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
      @include tablet {
        width: 75%;
        margin-right: 6rem;
      }
      @include desktop {
        //margin: auto;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
      }
    }
    &--up {
      display: flex;
      justify-content: space-between;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      @include tablet {
        margin-bottom: 0.5rem;
      }
    }
    &--big {
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__pic {
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: $secondary-mercury;
    @include tablet {
      width: 48px;
      height: 48px;
    }
    @include desktop {
      margin-right: -1.5rem;
    }
  }
  &__label {
    @include label__style;
    @include tablet {
      font-size: 0.75rem;
    }
  }
  &__name {
    @include name__input;
    &::placeholder {
      color: $secondary-bandsite-darkblack;
      font-family: "Avenir Next";
      font-weight: 100;
    }
    &:focus {
      outline: none; //remove the browser's default outline style
      border: 1px solid $secondary-bandsite-darkblack !important;
    }
    &--invalid {
      @include name__input;
      border: 1px solid red;
    }
    @include tablet {
      height: 2.9rem;
    }
  }
  &__comments {
    border-radius: 4px;
    border-color: $secondary-mercury;
    border-width: 1px;
    background-color: $secondary-alabaster;
    margin-bottom: 1rem;
    &:focus {
      outline: none; //remove the browser's defult outline style
      border: 1px solid $secondary-bandsite-darkblack !important;
    }
    &::placeholder {
      color: $secondary-bandsite-darkblack;
      font-family: "Avenir Next";
      font-weight: 100;
      padding-top: 0.5rem;
    }
  }
  &__button {
    @include button__style;
    padding-right: 1rem;
    width: 95%;
    @include tablet {
      width: 25%;
      align-self: end;
      margin: 0.6rem 0 0.6rem 0;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__divider {
    @include divider__style;
    @include tablet {
      margin-bottom: 0;
      margin-top: 1.5rem;
    }
    @include desktop {
      width: 40%;
    }
  }
  &__author {
    @include comment__body;
  }
  &__date {
    opacity: 40%;
    font-weight: 100;
    font-size: 0.8rem;
  }
  &__content {
    @include comment__body;
    @include tablet {
      line-height: 1.5rem;
      font-size: 0.85rem;
      font-weight: 100;
    }
  }
}
