@use "./partials/typography" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
.hero {
  &__card {
    background-image: url(../assets/images/hero-shows.jpg);
    margin-top: 0rem;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 45%;
    @include tablet {
      padding-top: 38%;
    }
    @include desktop {
      padding-top: 49%;
    }
  }

  &__card::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 1;
  }

  &__music {
    width: 90%;
    margin: auto;
    height: 6rem;
    margin-bottom: 2rem;
    z-index: 1;
    @include tablet {
      width: 50%;
      height: 8.5rem;
      margin-bottom: 4rem;
      margin-left: 2.5rem;
    }
    @include desktop {
      width: 29%;
      height: 8rem;
      margin-bottom: 6.5rem;
      margin-left: 4rem;
      top: 40%;
      right: 10%;
      position: absolute;
    }
  }

  &__subtitle {
    display: block;
    position: absolute;
    top: 8%;
    margin-left: 1rem;
    color: $primary-white;
    font-size: 0.9rem;
    font-weight: $font-light;
    z-index: 2;
    @include tablet {
      font-size: 1.5rem;
      margin-left: 2rem;
    }
    @include desktop {
      margin-left: 8rem;
      top: 28%;
    }
  }

  &__title {
    position: absolute;
    font-weight: $font-normal;
    color: $primary-white;
    line-height: 2rem;
    //Keeps the text on top of the black mask
    z-index: 2;
    top: 18%;
    margin-left: 1rem;
    //The value depends on the demand
    //If the resolution becomes large and the text needs to be merged into one line, use 70%
    width: 14rem;
    @include tablet {
      color: $primary-white;
      top: 27%;
      width: 33.6rem;
      transform: translateY(-50%);
      font-size: 3.7rem;
      margin-left: 2rem;
      line-height: 4rem;
    }
    @include desktop {
      margin-left: 8rem;
      top: 43%;
      width: 30rem;
    }
  }
}

.card {
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
  &__container {
    margin-top: 1.5rem;
    @include desktop {
      margin-right: 6rem;
      width: 64%;
    }
    &--small {
      display: flex;
      flex-direction: column;
      @include tablet {
        flex-direction: row;
        gap: 1rem;
        margin-left: 2.3rem;
        align-items: center;
      }
      &:hover {
        @include button__hover;
      }
    }
    &--date,
    &--venue,
    &--location {
      margin-left: 1.1rem;
      @include tablet {
        width: 22%;
        margin-left: 0;
        margin-top: 0.2rem;
        margin-bottom: 0.4rem;
      }
    }
  }

  &__title {
    @include h2__style;
    margin-bottom: -1.4rem;
    @include tablet {
      font-size: 2.2rem;
      padding-left: 1.5rem;
      margin-top: 3.5rem;
    }
    @include desktop {
      margin-left: 7rem;
    }
  }

  &__p {
    margin-top: 0.2rem;
    margin-bottom: 0.65rem;
    font-size: 0.81rem;
    font-weight: $font-light;
    opacity: 80%;
    @include tablet {
      font-size: 0.88rem;
    }
    &--bold {
      font-weight: $font-normal;
      opacity: 80%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__date,
  &__venue,
  &__location {
    @include label__style;
    @include tablet {
      visibility: hidden;
    }
    &--tablet {
      @include label__style;
      font-size: 0.75rem;
      width: 22%;
    }
  }

  &__label {
    &--tablet {
      //avoide overflow in mobile version
      justify-content: space-between;
      gap: 0;
      visibility: hidden;
      @include tablet {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        margin-left: 2.3rem;
        visibility: visible;
        margin-top: 3.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  &__divider {
    @include divider__style;
    @include tablet {
      margin-bottom: 0.2rem;
      margin-top: 0.5rem;
    }
  }

  &__button {
    @include button__style;
    width: 82%;
    margin-top: 0.5rem;
    @include tablet {
      width: 20%;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    &:hover {
      @include button__hover;
    }
  }
}
